<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("centroMercato.jpg", :alt => "Meran") %>
      <div class="carousel-caption">
        <h3></h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag("MercatinoBolzanoNotte.jpg", :alt => "Bozen") %>
      <div class="carousel-caption">
        <h3></h3>
        
      </div>
    </div>

    <div class="item">
      <%= image_tag("malga.jpg", :alt => "Malga") %>
      <div class="carousel-caption">
        <h3></h3>
        
          
      </div>
    </div>
      
    <div class="item">
      <%= image_tag("SellarondaHero.jpg", :alt => "Sella ronda") %>
      <div class="carousel-caption">
        <h3></h3>
        
      
        </div>
    </div>
      
    <div class="item">
      <%= image_tag("smg02177heri.jpg", :alt => "x") %>
      <div class="carousel-caption">
        <h3></h3>
        
          
      </div>
    </div>
    
    <div class="item">
      <%= image_tag("MuseoScienze.jpg", :alt => "Museum") %>
      <div class="carousel-caption">
        <h3></h3>
        
          
      </div>
    </div>
      
    <div class="item">
      <%= image_tag("pastore.jpg", :alt => "Nature") %>
      <div class="carousel-caption">
        <h3></h3>
        
          
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        
    <!-- Mappa itinerari -->

      <div class="info">
    <div class="container">
        <div class="row">
            
             <div class="col-sm-4 col-sm-offset-2">
                 
               <div id="mapholder"></div>  
               
            </div>
            
            <div class="col-sm-6 tabbable">
                <!-- Tabs go here -->
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#orari" data-toggle="tab" style="color:#47a9e6; font-weight: bold">Family</a></li>
                    <li><a href="#indirizzo" data-toggle="tab" class="yeah" style="color:#47a9e6; font-weight: bold">Couple</a></li>
                    <li><a href="#gallery" data-toggle="tab" style="color:#47a9e6; font-weight: bold">Single</a></li>
                    <li><a href="#video" data-toggle="tab" style="color:#47a9e6; font-weight: bold">Over 60</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="orari" style="font-weight: bold">Itinerario Family<br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    
                    <div class="tab-pane fade in" id="indirizzo"><a href="contatti.php" style="color:black; font-weight:bold">Itinerario Couple/a><br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    
                    <div class="tab-pane fade in" id="gallery"><a href="immagini.php" style="color:black; font-weight:bold">Itinerario Single</a><br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    
                    <div class="tab-pane fade in" id="video"><a href="video.php" style="color:black; font-weight:bold">Itinerario Over 60</a><br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
           
        </div>
    </div>       
</div>
<!-- info panel end -->
        
    <!-- fine mappa itinerari -->
        
    </div>

    <div class="container">
      <!-- Example row of columns -->
        
      <div class="col-sm-6 col-md-3" align="center">
                      <%= image_tag("museum.jpg", :alt => "Bozen", class:'img-circle img-responsive') %>
            <h3>Culture</h3>
            
        </div>
        
        
        <div class="col-sm-6 col-md-3" align="center">
            <%= image_tag("prodottiSudTirol.jpg", :alt => "Bozen", class:'img-circle img-responsive') %>
            <h3>Gastronomia</h3>
            
        </div>
        
        
        <div class="clearfix hidden-md hidden-lg"></div>
        
        
        <div class="col-sm-6 col-md-3" align="center">
            <%= image_tag("sport.jpg", :alt => "Bozen", class:'img-circle img-responsive') %>
            <h3>Sport</h3>
            
        </div>
        
    
        <div class="col-sm-6 col-md-3" align="center">
            <%= image_tag("svago.jpg", :alt => "Bozen", class:'img-circle img-responsive') %>
            <h3>Svago</h3>
            
        </div>

        <%= render 'shared/footer' %>  
      
    </div> <!-- /container -->