<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @user.reputation %>
</p>

<p>
  <strong>Place:</strong>
  <%= @user.place %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.kind %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Show', activity %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
